@using AuthTest.ViewModels;
@model OTPVM
<div id="popupWindow" class="d-flex align-items-center justify-content-center show-popup">
    <div id="popupContent" class="p-4 bg-white">
        <h1 class="mb-4">Enter OTP</h1>
        <form id="otpForm" asp-action="OTP">
            <div id="otpInputs" class="mb-4">
                <input type="text" maxlength="1" asp-for="OTP[0]" class="form-control otp-input">
                <input type="text" maxlength="1" asp-for="OTP[1]" class="form-control otp-input">
                <input type="text" maxlength="1" asp-for="OTP[2]" class ="form-control otp-input">
                <input type="text" maxlength="1" asp-for="OTP[3]" class="form-control otp-input">
                <input type="text" maxlength="1" asp-for="OTP[4]" class ="form-control otp-input">
                <input type="text" maxlength="1" asp-for="OTP[5]" class="form-control otp-input">
            </div>
            <span asp-validation-for="OTP" class="text-danger"></span>
            <div class="text-center">
                <button id="verifyButton" type="submit" class="btn btn-primary" disabled>Verify</button>
            </div>
        </form>
    </div>
</div>
    <script>
    $(document).ready(function () {
        // Enable the Verify button when all OTP inputs are filled
        $('.otp-input').keyup(function (e) {
            var currentInput = $(this);
            var otpInputs = $('.otp-input');
            var currentIndex = otpInputs.index(currentInput);

            // Move focus to the previous input if the current input is empty and Backspace is pressed
            if (e.keyCode === 8 && currentIndex > 0) {
                otpInputs.eq(currentIndex - 1).focus();
            }
   

            // Disable the Verify button if any input is empty
            var isFilled = true;
            otpInputs.each(function (index) {
                if (index > currentIndex) {
                    // Disable current and following inputs if the previous inputs are not filled
                    $(this).val('').prop('disabled', true);
                } else if ($(this).val() === '') {
                    isFilled = false;
                    return false; // Exit the loop early if any input is empty
                } else {
                    // Enable current and previous inputs
                    $(this).prop('disabled', false);
                }
            });

            // Allow typing only from the first input
            if (currentIndex > 0) {
                otpInputs.slice(0, currentIndex).val('').prop('disabled', true);
            }

            $('#verifyButton').prop('disabled', !isFilled);
        });
    });

    </script>
